[tools]
uv = "0.9.0"
emsdk = "4.0.13"
rust = "1.90.0"
git-lfs = "latest"

[tasks.build-editor]
alias = ["be"]
description = "Build the editor in release mode"
run = "cargo build --release -p editor"

[tasks.run-editor]
alias = ["de"]
description = "Run the editor in debug mode"
run = "cargo run -p editor"

[tasks.build-runtime]
alias = ["br"]
description = "Build the runtime in release mode"
run = "cargo build --release -p runtime"

[tasks.run-runtime]
alias = ["dr"]
description = "Run the runtime in debug mode"
run = "cargo run -p runtime"

[tasks.build-web-debug]
alias = ["dw"]
description = "Build the web runtime in debug mode"
run = "cargo build -p runtime --target wasm32-unknown-emscripten"

[tasks.build-web]
alias = ["bw"]
description = "Build the web runtime in release mode"
run = "cargo build --release -p runtime --target wasm32-unknown-emscripten"

[tasks.tests]
description = "Run all tests"
run = "cargo test -- --nocapture --show-output"

[tasks.clippy]
description = "Run clippy on all packages and try to fix problems"
run = ["cargo fix -p runtime --all-targets --all-features --allow-dirty", "cargo fix -p editor --all-targets --all-features --allow-dirty"]

[tasks.pdfify-manual]
description = "Convert the user manual to PDF"
run = """
docker run --platform linux/x86_64 --volume "$(pwd)/docs:/data" \
    $(docker build --platform linux/x86_64 -q -f ./docs/doc-generation-utils/Dockerfile ./docs/doc-generation-utils) \
    ./user-manual.md -o ./user-manual.pdf \
    --pdf-engine lualatex --template ./doc-generation-utils/eisvogel.latex -f markdown+backtick_code_blocks+emoji
"""

run_windows = "echo On Windows, Run Docker manually to generate the manual as a PDF"

[tasks.release]
description = "Create a new release"
depends = ["clippy", "build-editor", "build-web", "build-runtime", "pdfify-manual"]
run = ["uv run scripts/release-engine.py"]
