[package]
name = "runtime"
version = "0.1.0"
edition = "2024"

[dependencies]
egui = "0.32.2"
egui_glow = "0.32.2"
egui_sdl2_platform = "0.4.0"
glow = "0.16.0"
mlua = { version = "0.11.2", features = ["luau", "serde", "vendored"] }
serde = "1.0.219"

[target.'cfg(target_os = "windows")'.dependencies]
sdl2 = {version = "0.38", default-features = false, features = ["ttf","image","gfx","mixer","static-link","use-vcpkg"]}

[target.'cfg(any(target_os = "macos", target_os = "linux"))'.dependencies]
sdl2 = {version = "0.38", default-features = false, features = ["ttf","image","gfx","mixer","static-link","use-pkgconfig"]}

[target.'cfg(target_os = "emscripten")'.dependencies]
emscripten-val = "0.2.0"
emscripten-functions = "0.3.0"
sdl2 = {version = "0.38", default-features = false, features = ["ttf","image","gfx","mixer"]}

[package.metadata.vcpkg]
dependencies = ["sdl2", "sdl2-image[libjpeg-turbo,tiff,libwebp]", "sdl2-ttf", "sdl2-gfx", "sdl2-mixer"]
git = "https://github.com/microsoft/vcpkg"
rev = "2024.05.24" # to check for a new release, check https://github.com/microsoft/vcpkg/releases

[package.metadata.vcpkg.target]
x86_64-pc-windows-msvc = { triplet = "x64-windows-static-md" }
