[package]
name = "editor"
version = "0.1.0"
edition = "2024"

[dependencies]
egui = "0.32.2"
egui_glow = "0.32.2"
egui_sdl2_platform = "0.4.0"
glow = "0.16.0"
notify-debouncer-full = "0.6.0"
runtime = { path = "../runtime", version = "0.1.0" }

[[bin]]
name = "vecta"
path = "src/main.rs"
