#.cargo/config

[target.wasm32-unknown-emscripten]

# This link contains rustflags that we might want.
# https://github.com/emscripten-core/emscripten/discussions/18156

# EMCC flags can be passed using build.rs
# EMCC_CFLAGS="-g -s ERROR_ON_UNDEFINED_SYMBOLS=0 --no-entry -s FULL_ES3=1"
# linker = "./emsdk/upstream/emscripten/emcc.bat"

# --bind -sEXPORTED_RUNTIME_METHODS=ccall,cwrap -sEXPORTED_FUNCTIONS=_fulfill_promise
rustflags = [
    "-Clink-args=-sASYNCIFY=1 -sUSE_SDL=2 -sALLOW_MEMORY_GROWTH=1 -sOFFSCREENCANVAS_SUPPORT=1 -sEXPORTED_RUNTIME_METHODS=ccall,cwrap -sEXPORTED_FUNCTIONS=_main"
]
