#.cargo/config

[target.wasm32-unknown-emscripten]

linker = "./emsdk/upstream/emscripten/emcc.bat"

# --bind -sEXPORTED_RUNTIME_METHODS=ccall,cwrap -sEXPORTED_FUNCTIONS=_fulfill_promise
rustflags = [
    "-Clink-args=-sASYNCIFY=1 -sUSE_SDL=2 -sALLOW_MEMORY_GROWTH=1 -sOFFSCREENCANVAS_SUPPORT=1 -sEXPORTED_RUNTIME_METHODS=ccall,cwrap -sEXPORTED_FUNCTIONS=_main"
]
