---
---

<div class="gallery-grid not-content">
    <slot />
</div>

<style>
    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        margin: 1.5rem 0 3rem;
    }
</style>
