@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
    /* Titles are meant to be big */
    --sl-text-5xl: 3.5rem;
    --sl-text-6xl: 5rem;

    /* Wider content, narrower TOC */
    --sl-content-width: 65rem;
    --sl-sidebar-width: 16rem;
}

.sl-markdown-content img{
    margin: auto;
}
